.journal__inputs {
    display: flex;    
}

fieldset {
    display: flex;
    flex-direction: column;
}

label {
    padding-bottom: 2px;
    padding-top: 5px;
}

.journalEntry {
    border: 1px solid black;
}

.journalEntry h3 h4 {
    padding: 0px;
}



